main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.error-container{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--accent);
  color: white;
  padding: 15px 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  transform: translate(0, 100%);
  transition: transform 0.8s ease;
  font-size: 16px;
  z-index: 1001;
}

.active{
  transform: translate(0, 0);
}

i{
  user-select: none;
}


.error-container > span{
  max-width: 500px;
  word-wrap: break-word;
  display: block;
  
}


.blanket-opacity{
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1000;
}