/* MAIN */

.teams-main-container{
    display: grid;
    grid-template-columns: 4fr 17fr 4fr;
    width: 100%;
    padding: 10px 40px;
    min-width: 800px;
    gap: 40px;
    min-width: 1200px
}



/* TEAMS NAV BAR */


.teams-navbar-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    overflow: hidden;
}   

.card-teams-nav{
    background-color: var(--neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 100%;
    transition: filter 0.1s ease;
}

.card-teams-nav.active{
    color: white;
    background-color: var(--primary);
}

.card-teams-nav > span{
    text-overflow: ellipsis;
    width: 100%;
    padding: 0px 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-clamp: 1;
}

.card-teams-nav:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

.create-team-teams{
    padding: 20px 10px;
}

.card-teams-nav > i{
    font-size: 25px;
}

.create-task-form{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral);
    padding: 15px;
    border-radius: 10px;
    font-size: 13px;
    gap: 4px;
}

.create-task-form > input, .create-task-form > textarea{
    background-color: var(--neutral2);
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--font-color);
    padding: 3px 10px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: wrap;

}


.create-task-form > textarea{
    color: var(--font-color);
    font-family: roboto;
    height: 100px;
    resize: none;
    overflow: auto;
}

.create-task-form > input::placeholder{
    font-size: 13px;
}

.create-task-form > .buttons{
    display: flex;
    gap: 10px;
}

.create-task-form > .buttons > button{
    background-color: transparent;
    padding: 2px 10px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.create-task-form > .buttons > button > i{
    font-size: 18px;
}


.create-task-form > .buttons > .create{
    background-color: var(--secondary);
}

.create-task-form > .buttons > .delete{
    background-color: var(--accent);
}





/*MID CONTAINER TEAM*/


.outer-mid-team-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    font-size: 15px;
}

.outer-mid-team-container > span{
    color: var(--primary);
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outer-mid-team-container > span > .link{
    color: var(--font-color);
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: var(--neutral);
}

.outer-mid-team-container > span > .link:hover{
    filter: brightness(1.2);
}


.mid-team-main-information-container{
    display: flex;
    gap: 30px;
    height: 100%;
}

.mid-div-section{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
}

.info-today-display-team{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--neutral);
    border-radius: 10px;
    gap: 5px;
}

.today-day{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-day > .today{
    font-size: 28px;
    color: var(--primary);
}

.info-today-display-team > .task{
    margin-top: 10px;
}

.info-today-display-team > .task.overdue{
    margin: 0;
    color: var(--accent);
}




/*TASK SECTION*/

.task-section{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--neutral);
    max-width: 100%;
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
}

.task-section > span{
    text-align: center;
    color: var(--primary);
    font-size: 25px;
    margin-bottom: 20px;
}

.tasks-section-inner-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.no-task-container{
    color: var(--accent);
    font-size: 20px;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral);
}



/*task card*/

.inner-card-task-team{
    background-color: var(--neutral2);
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
}

.title-inner-card-task-team{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}


.tasks-description-card{
    margin-top: 10px;
}


.tags-container-tasks-home{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}

.tag-card-tasks-home{
    padding: 3px 5px;
    font-size: 14px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
}

 .inner-card-task-team > .expired{
    padding: 3px 10px;
    border-radius: 4px;
    background-color: var(--accent);
    width: fit-content;
    margin-bottom: 8px;
 }