/* MAIN */

.teams-main-container{
    display: grid;
    grid-template-columns: 180px 23fr;
    width: 100%;
    padding: 10px 40px;
    min-width: 800px;
    gap: 40px;
    min-width: 1200px;
    transition: grid-template-columns 10s ease;
}

.teams-main-container:has(.members-outer-container){
    grid-template-columns: 180px 19fr 4fr;
}



/* TEAMS NAV BAR */


.teams-navbar-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}   

.card-teams-nav{
    background-color: var(--neutral);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 15px;
    max-width: 100%;
    transition: filter 0.1s ease;
}

.card-teams-nav.active{
    color: white;
    background-color: var(--primary);
}

.card-teams-nav > span{
    text-overflow: ellipsis;
    width: 100%;
    padding: 0px 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    line-clamp: 1;
}

.card-teams-nav:hover{
    filter: brightness(1.2);
    cursor: pointer;
}

.create-team-teams{
    padding: 20px 10px;
}

.card-teams-nav > i{
    font-size: 25px;
}

.create-task-form{
    display: flex;
    flex-direction: column;
    background-color: var(--neutral);
    padding: 15px;
    border-radius: 10px;
    font-size: 15px;
    gap: 4px;
}

.create-task-form > input, .create-task-form > textarea{
    background-color: var(--neutral2);
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--font-color);
    padding: 3px 10px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;
    white-space: wrap;

}


.create-task-form > textarea{
    color: var(--font-color);
    font-family: roboto;
    height: 100px;
    resize: none;
    overflow: auto;
}

.create-task-form > input::placeholder{
    font-size: 13px;
}

.create-task-form > .buttons{
    display: flex;
    gap: 10px;
}

.create-task-form > .buttons > button{
    background-color: transparent;
    padding: 2px 10px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.create-task-form > .buttons > button > i{
    font-size: 18px;
}


.create-task-form > .buttons > .create{
    background-color: var(--secondary);
}

.create-task-form > .buttons > .delete{
    background-color: var(--accent);
}





/*MID CONTAINER TEAM*/


.outer-mid-team-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80vh;
    font-size: 15px;
}

.outer-mid-team-container > span{
    color: var(--primary);
    font-size: 45px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.outer-mid-team-container > span > .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.outer-mid-team-container > span > .info > span{
    font-size: 15px;
    word-wrap: break-word;
    width: 500px;
}

.outer-mid-team-container > span > .buttons > .link{
    color: var(--font-color);
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--neutral);
    height: fit-content;
}

.outer-mid-team-container > span > .buttons{
    display: flex;
    height: 100%;
    gap: 10px;
    align-items: center;
    justify-content: center;
}


.outer-mid-team-container > span > .buttons > .delete{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: var(--accent);
    cursor: pointer;
    height: fit-content;
}

.outer-mid-team-container > span > .link:hover{
    filter: brightness(1.2);
}


.mid-team-main-information-container{
    display: flex;
    gap: 30px;
    height: 100%;
}

.mid-div-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 100%;
    overflow: hidden;
}

.info-today-display-team{
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: var(--neutral);
    border-radius: 10px;
    gap: 5px;
}

.today-day{
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.today-day > .today{
    font-size: 28px;
    color: var(--primary);
}

.info-today-display-team > .task{
    margin-top: 10px;
}

.info-today-display-team > .task.overdue{
    margin: 0;
    color: var(--accent);
}




/*TASK SECTION*/

.task-section{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
    background-color: var(--neutral);
    box-sizing: border-box;
    overflow: auto;
    height: 100%;
    flex-basis: 100%;
}

.task-section > span{
    text-align: center;
    color: var(--primary);
    font-size: 22px;
    margin-bottom: 20px;
}

.tasks-section-inner-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.no-task-container{
    color: var(--accent);
    font-size: 18px;
    height: 100%;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral);
}



/*task card*/

.inner-card-task-team{
    background-color: var(--neutral2);
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
}

.title-inner-card-task-team{
    display: block;
    width: 100%;
    text-wrap: wrap;
    word-break: break-word;
    overflow: hidden;
}


.tasks-description-card{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-wrap: wrap;
    word-break: break-word;

    overflow: hidden;
}


.tags-container-tasks-home{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 8px;
}

.tag-card-tasks-home{
    padding: 3px 5px;
    font-size: 12px;
    background-color: var(--purple);
    color: white;
    border-radius: 5px;
}

 .inner-card-task-team > .expired{
    padding: 3px 10px;
    border-radius: 4px;
    background-color: var(--accent);
    color: white;
    width: fit-content;
    margin-bottom: 8px;
 }

 .to-container-teams{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
 }

 .to-card-teams{
    display: flex;
    color: white;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    background-color: var(--secondary);
    padding: 2px 6px;
    border-radius: 1000px;
 }

 .to-card-teams > i{
    font-size: 20px;
 }




 /*MEMBERS*/


.members-outer-container{
    background-color: var(--neutral);
    padding: 15px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 35px;
    width: 100%;
}

.role-container-members{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top-member-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 10px;
    color: var(--primary);
}

.role-title-members{
    color: var(--primary);
    font-weight: bold;
    font-size: 20px;
}

.member-members-flex{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.member-card{
    padding: 3px 10px;
    background-color: var(--neutral2);
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.member-card > .name{
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    text-overflow: ellipsis;
    width: 100%;
    word-break: break-word;
}




/*blanket delete*/

.deleting-container-team{
    z-index: 1001;
    position: fixed;
    background-color: var(--neutral);

    padding: 20px;
    display: flex;
    flex-direction: column;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    border-radius: 20px;
    gap: 10px;
}

.deleting-container-team > input{
    padding: 5px 20px;
    background-color: var(--neutral2);
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--font-color);
    font-size: 15px;
}

.deleting-container-team > label{
    color: var(--accent);   
}

.deleting-container-team > .buttons{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.deleting-container-team > .buttons > button{
    background-color: var(--neutral2);
    color: var(--font-color);
    border: none;
    outline: none;
    padding: 8px 40px;
    border-radius: 5px;
    cursor: pointer;
}