.change-password-outer-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;    
    gap: 10px;
    align-items: center;
}

.change-password-inner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 2px solid var(--neutral);
    min-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    gap: 15px;
}


.change-password-inner-container > .email-title{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    width: 100%;
}

.change-password-inner-container > div{
    display: flex;
    gap: 15px;
    width: 100%;
}

.input-email-change{
    flex: 3.5;
    background-color: var(--neutral);
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px 20px;
    box-sizing: border-box;
    outline: none;
    color: var(--font-color);
    margin: 0;
    height: 32px;
    font-family: roboto;
}

.send-code-button{
    display: flex;
    height: 32px;
    border: none;
    background-color: var(--primary);
    color: white;
    border-radius: 3px;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.insert-code-outer-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.insert-code-outer-container > span{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    width: 100%;
}


.approve-code-button{
    width: 100%;
    border-radius: 1000px;
    padding: 5px;
    background-color: var(--primary);
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}


.new-passwords-outer-container{
    display: flex;
    flex-direction: column;
    gap: 15px;   
}

.new-passwords-outer-container > span{
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary);
    width: 100%;
}

.set-new-password-button{
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: var(--primary);
    border: none;
    outline: none;
    border-radius: 1000px;
    cursor: pointer;
}

.description-password{
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .change-password-outer-container{
        width: 92%;
    }

    .change-password-inner-container{
        min-width: 0px;
        width: 100%;
    }
    
    .user-title.pass{
        font-size: 30px;
    }

    .input-email-change{
        font-size: 14px;
        padding-left: 10px;
    }

    .send-code-button{
        font-size: 15px;
    }
}