@keyframes loadTasks {
    from{transform: translate(0, 5%);}
    to{transform: translate(0, 0);}
}

.tasks-container-tasks{
    display: flex;
    flex-direction: column;
    gap: 80px;
    animation: loadTasks 0.5s ease;
    width: 60vw;
    max-width: 1500px;
}


.tasks-container-tasks > h1{
    color: var(--primary);
    font-size: 45px;
}

.overview-outer-flex{
    
}