.left-sidebar-container-main{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 170px;
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.4s ease;
    transform: translate(-100%, 0);
    z-index: 30;

}

.left-sidebar-container-main.active{
    transform: translate(0, 0);
}

.link-left-nav{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: 30px;
    padding: 8px 5px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--font-color);
    transition: background-color 0.2s ease;
    outline: none;
    border-radius: 5px;
    gap: 15px;
}

.link-left-nav:hover{
    background-color: var(--hover);
    
}

.link-left-nav.active{
    background-color: var(--primary);
    color: white;
}


.nav-label-left-main{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

}


.nav-label-left-main:hover{
    background-color: var(--hover);

}

.nav-label-left-main.active{
    background-color: var(--primary);
    color: white;
}


.nav-label-left-main > img{
    width: 32px;

}

.nav-label-left-main > span{
    font-size: 23px;

}

.icon-title-left-nav{
    font-size: 30px;
}

.theme-toggle{
    flex: 1;
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    
}

.theme-toggle-card{
    margin-bottom: 30px;
    display: flex;
    width: 75px;
    justify-content: space-between;
    padding: 9px;
    border-radius: 1000px;
    background-color: var(--neutral2);
    position: relative;
}

.theme-toggle-card > i{
    cursor: pointer;
    z-index: 3;
}

.theme-toggle-card > .slider{
    z-index: 2;
    position: absolute;
    width: 37%;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 1000px;
    left: 4px;
    right: auto;
    aspect-ratio: 1;
    background-color: var(--neutral);
    transition: left 0.3s ease, right 0.3s ease;
}

.theme-toggle-card > .slider.active{
    left: calc(100% - 4px - 38%);
}


@media (max-width: 768px) {
    .left-sidebar-container-main{
        top: 50px;
        width: 100px;
    }

    .link-left-nav{
        font-size: 16px;
        padding-left: 5px;
        gap: 5px;
        display: flex;
        flex-direction: column;
    }

    .link-left-nav > i{
        font-size: 26px;
    }

    .nav-label-left-main{
        display: flex;
        flex-direction: column;
        gap: 6px;
        height: fit-content;
        margin-bottom: 30px;
    }

    .nav-label-left-main > span{
        font-size: 20px;
    }

    .nav-label-left-main > i{
        font-size: 26px;
    }

    .theme-toggle-card > i{
        font-size: 22px;
    }

    .theme-toggle-card > .slider.active{
        left: calc(100% - 5px - 38%);
    }

    .theme-toggle-card > .slider{
        left: 5px;
    }
}   
