.left-sidebar-container-main{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 170px;
    background-color: var(--neutral);
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.4s ease;
    transform: translate(-100%, 0);

}

.left-sidebar-container-main.active{
    transform: translate(0, 0);
}

.link-left-nav{
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: 30px;
    padding: 8px 5px;
    padding-left: 20px;
    text-decoration: none;
    color: var(--font-color);
    transition: background-color 0.2s ease;
    outline: none;
    border-radius: 5px;
    gap: 15px;
}

.link-left-nav:hover{
    background-color: var(--hover);
    
}

.link-left-nav.active{
    background-color: var(--primary);
    color: white;
}

.tag-container-kanban{
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.tag-card-kanban{
    padding: 1px 8px;
    background-color: var(--purple);
    border-radius: 5px;
    color: white;
}

.remaining-time-kanban{
    padding: 1px 10px;
    background-color: var(--accent);
    width: fit-content;
    border-radius: 3px;
    margin-top: 4px;
    color: white;
}

.to-container-kanban{
    display: flex;
    gap: 8px;
    width: 100%;
}

.to-card-kanban{
    display: flex;
    gap: 4px;
    align-items: center;
    background-color: var(--secondary);
    padding: 1px 8px;
    border-radius: 1000px;
}


.nav-label-left-main{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--font-color);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;

}


.nav-label-left-main:hover{
    background-color: var(--hover);

}

.nav-label-left-main.active{
    background-color: var(--primary);
    color: white;
}


.nav-label-left-main > img{
    width: 32px;

}

.nav-label-left-main > span{
    font-size: 23px;

}

.icon-title-left-nav{
    font-size: 30px;
}