:root{
    --font-color: #2D3436;
    --background: #FFFFFF;
    --primary: #4A90E2;
    --secondary: #7ED321;
    --accent: #FF6B6B;
    --yellow: #f3d31f;
    --purple: #a73aa7;
    --neutral: #e9e9e9;
    --neutral2: #cfcfcf;
    --coral: #FFA07A; /* Light Salmon - A soft, warm accent */
    --light-blue: #40E0D0; /* Turquoise - A fresh, vibrant pop */
}

body {
    --font-color: #ECECEC;
    --background: #1A1A1A;
    --primary: #6BA4FF;
    --secondary: #68af32;
    --accent: #FF8E8E;
    --yellow: #FFD700;
    --purple: #9370DB;
    --neutral: #2D2D2D;
    --neutral2: #424549;
    --coral: #FF7F50; /* Coral - A warm, inviting tone */
    --light-blue: #00CED1; /* Dark Turquoise - A rich, deep teal */
}

body {
    font-family: roboto;
    background-color: var(--background);
    color: var(--font-color);
    padding-top: 70px;
    padding-bottom: 200px;
}


body:has(.left-sidebar-container-main){
    padding-left: 170px;
}

.scrollbar::-webkit-scrollbar{
    width: 10px;
}


.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--font-color);
    border: 3px solid var(--neutral2);
    cursor: pointer;
}

.task-section.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--neutral2);
    border: 2px solid var(--neutral);
    cursor: pointer;
}

.notifications-displayer-container.scrollbar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: var(--neutral);
    border: 2px solid var(--neutral2);
    cursor: pointer;
}